
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# IntelliJ project files
.idea
*.iml
out
gen

/media/json/*
/media/png/*
/media/audio/*
/media/avatar/*
/common/dataset/excel/*

/solfeggio_django/settings.py
